<div class="toolbar" role="banner">
    <span class="ml30">{{ title }}</span>
</div>

<div class="content" role="main">
    <div class="center">
        <input #ingredient1 class="space input" />
        <input #ingredient2 class="space input" />
        <input #ingredient3 class="space input" />
    </div>
    <button (click)="searchTasty(ingredient1.value, ingredient2.value, ingredient3.value)" class="space search">SEARCH</button>
    <div class="center">
        @for (recipe of recipes; track recipe) {
        <div>
            <button (click)="display(recipe)" class="space">{{ recipe.name }}</button>
        </div>
        }
    </div>
    <br />
    <a href="https://tasty.co/recipe/{{ slug }}" target="_blank" class="space fw700">{{ recipeName }}</a>
    <br />
    <div class="recipe">
        @if (ingredients.length) {
        <div>Ingredients:</div>
        } @for (ingredient of ingredients; track ingredient; let i = $index) {
        <div>
            @if (ingredient.name) {
            <span>{{ i + 1 }}) {{ ingredient.name }}: </span>
            } @for (component of ingredient.components; track component) {
            <span>{{ component.raw_text }}; </span>
            }
        </div>
        }
        <br />
        @if (instructions.length) {
        <div>Instructions:</div>
        } @for (instruction of instructions; track instruction; let i = $index) {
        <div>{{ i + 1 }}) {{ instruction.display_text }}</div>
        }
    </div>
</div>
