<div class="toolbar" role="banner">
    <span class="ml30">{{ title }}</span>
</div>

<div class="content" role="main">
    <div class="center">
        <input #ingredient1 class="space" />
        <input #ingredient2 class="space" />
        <input #ingredient3 class="space" />
    </div>
    <button (click)="searchTasty(ingredient1.value, ingredient2.value, ingredient3.value)" class="space">SEARCH</button>
    <div class="center">
        <div *ngFor="let recipe of recipes">
            <button (click)="display(recipe)" class="space">{{ recipe.name }}</button>
        </div>
    </div>
    <br />
    <a href="https://tasty.co/recipe/{{ slug }}" target="_blank" class="space fw700">{{ recipeName }}</a>
    <br />
    <div class="recipe">
        <div *ngIf="ingredients.length">Ingredients:</div>
        <div *ngFor="let ingredient of ingredients; let i = index">
            <span *ngIf="ingredient.name">{{ i + 1 }}) {{ ingredient.name }}: </span>
            <span *ngFor="let component of ingredient.components">{{ component.raw_text }}; </span>
        </div>
        <br />
        <div *ngIf="instructions.length">Instructions:</div>
        <div *ngFor="let instruction of instructions; let i = index">{{ i + 1 }}) {{ instruction.display_text }}</div>
    </div>
</div>
